@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root {
    --purple: #895d99;
    --lt-purple: #937f9f;
    --lightest-purple: #dfd8e6;
    --grey: #a4a5ae;
    --lt-grey: #d1d3df;
    --dk-mint: #b0c7bd;
    --mint: #b8ebd0;
  }

* {
    font-family: 'DM Sans', sans-serif;
}

* img {
    height: 550px;
    margin-left: 1rem;
}

.top {
    background-color: white;
    border: 10px solid white;
    margin: 1rem;
    padding: 1rem;
    left: 10px;
    width: 775px;
}

/* buttons */
button {
    text-align: center;
    font-size: 18px;
    margin: 0.4rem;
}

button:hover {
    color: white;
}

.option {
    background-color: var(--lightest-purple);
}

.ctn {
    right: 500px;
    position: absolute;
    visibility: hidden;
    background-color: var(--lt-purple);
}

/* front and end pages */
#frontpage {
    background-color: var(--mint);
}

.mainbutton {
    font-size: 24px;
    position: absolute;
    top: 500px;
}

#startbutton {
    background-color: #b8ebd0;
    left: 420px;
}

#deathbutton {
    background-color: var(--lt-grey);
    left: 450px;
}

.display img {
    height: 650px;
}

/* levels */
#level1, #level3 {
    background-color:var(--purple);
    margin: auto;
    display: block;
    justify-items: center;
}

#level2 {
    background-color: var(--lt-purple);
    margin: auto;
    display: block;
    justify-items: center;
}